<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- For boot bcast receiver in Android 9+ -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/note"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Remindme">

        <activity
            android:name="net.ednovak.remindme.Main"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="net.ednovak.remindme.AlarmHelper"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name="net.ednovak.remindme.RemindmeAlarmReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name="net.ednovak.remindme.RemindmeBootReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name="net.ednovak.remindme.Detail"
            android:exported="false"
            android:theme="@style/Theme.Remindme.Dialog" />


            <!-- android:theme="@style/Theme.AppCompat.DayNight.Dialog" /> -->
            <!-- android:theme="@android:style/Theme.Material.Dialog.NoActionBar.MinWidth" -->

    </application>

</manifest>